<div ng-file-drag-over-class="file-dragged"
     ng-file-drop="onFileSelect($files)"
     class="full-height">
  <div class="drag-overlay">
    <div>
      <fa name="arrow-down"></fa>
      Drop Mint transactions.csv here
    </div>
  </div>
  <div class="top-bar" layout="row" layout-wrap>
    <div flex="5"></div>
    <div class="big-logo-container">
      <img class="big-logo" src="assets/images/fireflame.svg" height="64">
    </div>
    <div flex>
      <div class="title">
        Matchbox
      </div>
      <div class="subtitle">
        <b>M</b>in<b>T</b> <b>C</b>ategory Das<b>hbo</b>ard
      </div>
    </div>
    <div flex="5" class="right-container">
      <a href="https://github.com/amandeepg/matchbox">
        <fa name="github" size="2"></fa>
      </a>
    </div>
  </div>

  <div class="hero" layout="row">
    <div flex="5"></div>
    <div flex>
      <h1>Features</h1>
      <ul>
        <li>See each category's average.</li>
        <li>See each category's monthly graph.</li>
        <li>All processing is done client-side so your data is never uploaded anywhere.</li>
      </ul>
    </div>
    <div flex="5"></div>
    <div flex>
      <h1>Instructions</h1>
      <ul>
        <li><a href="https://wwws.mint.com/login.event" target="_blank">Log in</a> to Mint.</li>
        <li><a href="https://wwws.mint.com/transactionDownload.event" target="_blank">Download</a> your transactions.csv
          from Mint.
        </li>
        <li>Drag the downloaded file to this page.</li>
      </ul>
    </div>
    <div flex="5"></div>
  </div>

  <md-content ng-if="content.length > 0" class="md-padding">
    <div>
      <form>
        <md-text-float type='month' label="Start Month" ng-model="month.start"></md-text-float>
        <md-text-float type='month' label="End Month" ng-model="month.end"></md-text-float>
      </form>
    </div>

    <h2>Expenses</h2>
    <md-card class="cat-card" ng-repeat="item in content | filter: lessThan('avg', 0) | filter: notExcluded() | orderBy:sortByAbsAvg:true"
             ng-include="'app/templates/cat-card.html'">
    </md-card>

    <h2>Income</h2>
    <md-card class="cat-card"
             ng-repeat="item in content | filter: greaterThan('avg', 0) | orderBy:sortByAbsAvg:true"
             ng-include="'app/templates/cat-card.html'">
    </md-card>
  </md-content>

</div>
